<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="NLog" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="NLog http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <!-- Define targets -->
  <targets>
    <!-- Colored console output -->
    <target xsi:type="ColoredConsole" name="coloredConsole"
            layout="${longdate} | ${level:uppercase=true:padding=-7:padCharacter= } | ${callsite:padding=-25:padCharacter= } | ${message}"
            useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan" /> 
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>

    <!-- File log -->
    <target xsi:type="File" name="rollingFile"
            fileName="Logs/${shortdate}/Log.log"
            layout="${longdate} | ${level:uppercase=true:padding=-7:padCharacter= } | ${callsite:padding=-25:padCharacter= } | ${message}"
            encoding="utf-8"
            archiveFileName="Logs/${shortdate}/Log.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="30"
            concurrentWrites="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole,rollingFile" />
  </rules>
</nlog>